<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.govegan.com.br.goveganapp">

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MembrosActivity" />
        <activity android:name=".activity.ReceitasActivity" />
        <activity android:name=".activity.DetalhesActivity" />
        <activity android:name=".activity.receitas.ChipBatataDoceActivity" />
        <activity android:name=".activity.receitas.SorvetePacoquinhaActivity" />
        <activity android:name=".activity.receitas.PateGraoBicoActivity" />
        <activity android:name=".activity.receitas.SalpicaoVeganoActivity" />
        <activity android:name=".activity.receitas.LeiteCocoActivity" />
        <activity android:name=".activity.receitas.PaoQueijoActivity" />
        <activity android:name=".activity.receitas.BiscoitinhosAveiaBananaActivity" />
        <activity android:name=".activity.receitas.HamburguerActivity" />
        <activity android:name=".activity.receitas.BoloChocolateActivity"></activity>
    </application>

</manifest>